<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BerteDeco</title>
    <!-- Bootstrap CSS and CSS Style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_cart.css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Bootstrap icons Fontawesome icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="img/icon.jpg" />
    <!-- plantilla html-->
    <link 
    href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.5/mercadolibre/navigation-mobile-MCO.css"
    rel="stylesheet" type="text/css" media="(max-width: 1023px)">
    <link
    href="https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-core/cart-core_ui/styles/cart-core_ui__large-71f8560ee5.css"
    rel="stylesheet" type="text/css">
    <link
    href="https://http2.mlstatic.com/resources/frontend/statics/buyingflow-frontend-core/styles/cho__large-01a75e881b.css"
    rel="stylesheet" type="text/css">
    <!-- plantilla html-->   
</head>
<body>
    <!-- Header and Navbar-->
    <section class="ftco-section">
        <div class="container-fluid cuotas-head">
            <div class="div-head row justify-content-center">
                <div class="col-md text-center">
                    <h6 class="heading-section">3 Y 6 CUOTAS SIN INTERES</h6>
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-5">
            <div class="main-header row justify-content-between">
                <div class="col-md-8 order-md-last">
                    <div class="main-header row">
                        <div class="col-md-6 text-center">
                            <a href="/index.html"><img src="/img/icono-bertedeco.png" class="img-fluid" alt="bertedeco" height="400" width="300"></a>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end mb-md-0 mb-3 user-section">
                            <div class="social-media">
                            <p class="mb-0 d-flex">
                                <a href="/register.html" class="user-text-link d-flex align-items-center justify-content-center"><span class="user-text">Registrarse</span></a>
                                <a href="/login.html" class="user-text-link d-flex align-items-center justify-content-center"><span class="user-text">Ingresar</span></a>
                                <a href="#" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-user"><i class="sr-only">Perfil</i></span></a>
                                <a href="/productCart.html" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-shopping-cart"><i class="sr-only">Carro</i></span></a>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-md-flex">
                    <form method="get" action="#" class="searchform order-lg-last">
                <div class="form-group d-flex">
                <input type="search" class="form-control pl-3" placeholder="Buscar">
                <button type="submit" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
            </form>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-ligh ftco-navbar-dark" id="ftco-navbar">
        <div class="container-fluid">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"><a href="/index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#">Bancos</a>
                <a class="dropdown-item" href="#">Jardin</a>
                <a class="dropdown-item" href="#">Espejos</a>
                <a class="dropdown-item" href="#">Mesas y Escritorios</a>
                <a class="dropdown-item" href="#">Percheros y Repisas</a>
                </div>
            </li>
                <li class="nav-item"><a href="#" class="nav-link">Cómo Comprar</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Preuntas Frecuentes</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
            </div>
        </div>
        </nav>
    </section>
    <!-- Cart -->
    <main class="container-fluid">
        <div
             data-js="external-js">
        </div>
        <div data-js="bundle-type">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-hide">
            <symbol id="ui-icon--location" viewBox="0 0 48 48">
                <path
                    d="M24.53 35.03l-.531.53-.53-.53c-5.125-5.127-7.716-9.795-7.716-14.034a8.246 8.246 0 1 1 16.492 0c0 4.24-2.591 8.907-7.716 14.034zm-7.277-14.034c0 3.627 2.231 7.781 6.746 12.435 4.515-4.654 6.746-8.808 6.746-12.435a6.746 6.746 0 0 0-13.492 0zM24 24.76a3.755 3.755 0 1 1 0-7.51 3.755 3.755 0 0 1 0 7.51zm0-1.5a2.255 2.255 0 1 0 0-4.51 2.255 2.255 0 0 0 0 4.51z"
                    fill="#3483FA" >
                </path>
            </symbol>
        </svg>
        </div>
        <div>    
        <div class="cart-main-container cart-main-container--aside-present row" data-js="cart-main-container">
            <div id="app-container" class="cart-content col-md-5 col-sm-12 col-xs-12">
                <div>
                    <div data-component="shipping-selection">
                        <div data-component="shipping-context">
                            <div>
                                <div data-component="shipping-context">
                                    <div class="shipping-context">
                                        <div class="step-title   ">
                                            <h1 class="cart-title--primary " data-js="stepTitle-heading" tabindex="-1">
                                                Opciones de envío a
                                            </h1>


                                         </div>
                                            <h3 class="block-title"> </h3>
                                            <div data-id="hero-shipping" class="hero hero-shipping  hero--contained hero--ellipsis">
                                                        <div class="hero__wrapper">
                                                            <div class="hero__table-row">
                                                                <div class="hero__icon" data-js="hero-icon">
                                                                    <span class="ui-badge ui-badge--small ">
                                                                        <svg viewBox="0 0 100 100" role="presentation"
                                                                            class="ui-icon ui-icon--location ui-badge__icon ui-badge__icon--medium">
                                                                            <use 
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"xlink:href="#ui-icon--location">
                                                                            </use>
                                                                        </svg>
                                                                    </span>
                                                                </div>

                                                                <div class="hero__main-content" data-js="hero-main-content">
                                                                    <div class="hero__main-content-wrapper">
                                                                        <div class="hero__info" data-js="hero-info">
                                                                            <h3 data-id="hero-shipping-title" class="hero__info-title">
                                                                            Calle 17 #37A-80
                                                                            </h3>
                                                                            <span data-id="hero-shipping-subtitle" class="hero__info-subtitle ">
                                                                                Castropol, poblado, Urbanización
                                                                                providencia - Medellín, Antioquia
                                                                            </span>
                                                                        </div>
                                                                        <div class="hero__action" data-js="hero-action">
                                                                            <form data-js="show-addresses" method="post">
                                                                                <button data-js="next-step"
                                                                                    data-input-id="nextStepAddressChange"
                                                                                    class=" hero__action-button u-link"
                                                                                    type="submit"
                                                                                    name="nextStepAddressChange"
                                                                                    value="nextStepAddressChange">
                                                                                    Editar o elegir otro
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="hero__table-row">
                                                                <div class="hero__table-cell">
                                                                </div>
                                                                <div class="hero__table-cell"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-component="shipping-context"></div>
                                    <div data-component="shipping-address-info" data-js="shipping-address-info-region"></div>
                                     <div data-component="cart-packages">
                                        <ul class="cart-packages">
                                            <li class="cart-package cart-packages__single-option">
                                                <article data-id="cart-package-666321970" class="cart-package">
                                                    <header class="cart-package__id">
                                                        <h3 class="block-title">Paquete 1</h3>
                                                    </header>

                                                    <div class="cart-package__data ">
                                                        <div data-js="cart-package__shipping"
                                                            class="cart-package__shipping">
                                                            <div class="cart-package__option-button ">
                                                                <div class="cart-package__shipping-box">
                                                                    <div class="cart-package__shipping-header">
                                                                        <div data-id="shipping-option-name"
                                                                            class="cart-package__shipping__title">
                                                                            Llega el miércoles a tu dirección
                                                                        </div>
                                                                    </div>
                                                                    <span class="cart-package__shipping-price">
                                                                        <span
                                                                            class="cart-package__shipping-price-container">
                                                                            <span data-id="shipping-option-price-free"
                                                                                class="shipping-option-price price-free u-text--green">
                                                                                <span
                                                                                    class="shipping-option-price__text">Gratis</span>
                                                                                <p
                                                                                    class="loyalty-benefits__shipping-info">
                                                                                    Único envío disponible

                                                                                </p>
                                                                            </span>

                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <section class="cart-package__items">
                                                            <ul class="cart-package__list">
                                                                <li class="cart-package__list__list-item">
                                                                    <article class="item clearfix">
                                                                        <figure
                                                                            class="item__image item__image--circular item__image--dimmer">
                                                                            <img class=""
                                                                               
                                                                                srcset="/img/estante-2.jpg"
                                                                                alt="Audífonos Gamer Kotion G2000 Negro Y Rojo Con Luz Led"
                                                                                width="48" height="48"
                                                                                data-object-fit="cover">
                                                                        </figure>
                                                                        <div class="item__information ">
                                                                            <h2 class="item__title ">Estante Vitrina
                                                                            </h2>
                                                                            
                                                                            <p class="item__units">
                                                                                <span>
                                                                                    <span
                                                                                        class="u-text--single-line">Cantidad:
                                                                                        1</span>

                                                                                </span>
                                                                            </p>
                                                                            <p class="item__units-price"
                                                                                aria-label="53957 pesos ">
                                                                                <span aria-hidden="true">
                                                                                    <span class="price-tag "
                                                                                        itemprop="offers" itemscope=""
                                                                                        itemtype="http://schema.org/Offer">
                                                                                        <meta itemprop="price"
                                                                                            content="53.957">

                                                                                        <span class="price-tag-symbol"
                                                                                            itemprop="priceCurrency"
                                                                                            aria-hidden="true">$</span>
                                                                                        <span
                                                                                            class="price-tag-fraction">54.000</span>


                                                                                    </span>
                                                                                </span>
                                                                                <span class="price-each">ARS</span>
                                                                                <button data-js="next-step"
                                                                                    data-input-id="nextStepAddressChange"
                                                                                    class=" hero__action-button u-link"
                                                                                    type="submit"
                                                                                    name="nextStepAddressChange"
                                                                                    value="nextStepAddressChange">
                                                                                    Eliminar Producto
                                                                                </button>
                                                                            </p>
                                                                        </div>
                                                                    </article>
                                                                </li>
                                                                <li class="cart-package__list__list-item">
                                                                    <article class="item clearfix">
                                                                        <figure
                                                                            class="item__image item__image--circular item__image--dimmer">
                                                                            <img class=""
                                                                                
                                                                                srcset="/img/mesa-comedor-griffin.png"
                                                                                
                                                                                width="48" height="48"
                                                                                data-object-fit="cover">
                                                                        </figure>
                                                                        <div class="item__information ">
                                                                            <h2 class="item__title ">Mesa comedor Griffin</h2>
                                                                            <p class="item__units">
                                                                                <span>
                                                                                    <span
                                                                                        class="u-text--single-line">Cantidad:
                                                                                        1</span>
                                                                                        

                                                                                </span>
                                                                            </p>

                                                                            <p class="item__units">
                                                                                <span>
                                                                                    <span
                                                                                        class="u-text--single-line">6 cuotas sin interes</span>
                                                                                        

                                                                                </span>
                                                                            </p>

                                                                            <p class="item__units-price"
                                                                                aria-label="41918 pesos ">
                                                                                <span aria-hidden="true">
                                                                                    <span class="price-tag "
                                                                                        itemprop="offers" itemscope=""
                                                                                        itemtype="http://schema.org/Offer">
                                                                                        <meta itemprop="price"
                                                                                            content="41.918">

                                                                                        <span class="price-tag-symbol"
                                                                                            itemprop="priceCurrency"
                                                                                            aria-hidden="true">$</span>
                                                                                        <span
                                                                                            class="price-tag-fraction">38.184</span>


                                                                                    </span>
                                                                                </span>
                                                                                <span class="price-each">ARS</span>
                                                                                <button data-js="next-step"
                                                                                    data-input-id="nextStepAddressChange"
                                                                                    class=" hero__action-button u-link"
                                                                                    type="submit"
                                                                                    name="nextStepAddressChange"
                                                                                    value="nextStepAddressChange">
                                                                                    Eliminar Producto
                                                                                </button>
                                                                            </p>

                                                                            
                                                                            
                                                                        </div>
                                                                    </article>
                                                                </li>
                                                            </ul>
                                                        </section>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                    <div data-component="summary-component" class="summary-component">
                                        <div>
                                            <div data-component="summary-component">
                                                <section class="summary ">
                                                    <form data-js="summary-action-form" class="summary__form"
                                                        method="post" action="">
                                                        <div class="summary__row ">
                                                            <div class="summary__column-container">
                                                                <div class="summary__column">

                                                                    <div
                                                                        class="rich-disclaimer rich-disclaimer--contained">
                                                                        

                                                                        Bertedeco Design

                                                                    </div>
                                                                </div>
                                                                <div class="summary__column">
                                                                    <span class="summary__label">
                                                                        Costo de envío
                                                                    </span>
                                                                    <span data-id="summary-price"
                                                                        class="summary__price">
                                                                        <span class="u-text--green">Gratis</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="summary__actions">
                                                            <input data-id="summary-action-button" type="submit"
                                                            class="btn btn-secondary btn-outline-dark btn-lg"  value="Continuar">
                                                        </div>
                                                    </form>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- resumen de compra -->
                        <div id="aside-container" class="cart-aside col-md-5 col-sm-12 col-xs-12">
                            <div>
                                <div data-component="aside">
                                    <aside class="" data-aside="target">
                                        <section class="cart-aside__content">
                                            <h3 class="overview-component__heading">
                                                <span class="overview-component__heading-text">Resumen de compra</span>
                                            </h3>

                                            <div class="overview__table-container">
                                                <div class="overview-component__amounts">
                                                    <div class="overview-component__table">
                                                        <div class="overview-component__row">
                                                            <div data-id="overview-items-quantity"
                                                                class="overview-component__column">
                                                                Productos (2)
                                                            </div>
                                                            <div data-id="overview-items-price"
                                                                class="overview-component__column"
                                                                aria-label="95875 pesos">
                                                                <span aria-hidden="true">
                                                                    <span class="price-tag " itemprop="offers"
                                                                        itemscope="" itemtype="http://schema.org/Offer">
                                                                        <meta itemprop="price" content="95.875">

                                                                        <span class="price-tag-symbol"
                                                                            itemprop="priceCurrency"
                                                                            aria-hidden="true">$</span>
                                                                        <span class="price-tag-fraction">283.100</span>


                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="overview-component__row">
                                                            <div class="overview-component__column">
                                                                Envío
                                                            </div>
                                                            <div data-id="overview-shipping-amount"
                                                                class="overview-component__column" aria-label="Gratis">
                                                                <span aria-hidden="true">
                                                                    <span class="price-free u-text--green">
                                                                        Gratis

                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                                <div class="overview-component__total">
                                                    <div class="overview-component__table">
                                                        <div class="overview-component__column">
                                                            Total
                                                        </div>
                                                        <div class="overview-component__column"
                                                            aria-label="95875 pesos">
                                                            
                                                                <meta itemprop="price" content="95.875">

                                                                
                                                                <span class="price-tag-fraction">283.100</span>


                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                        </section>

                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <section class="cid-qySuWQglmK" id="footer4-2k" data-rv-view="3177">

        <div class="mbr-overlay" style="background-color: rgb(35, 35, 35); opacity: 0.4;"></div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="first-column col-md-4 align-left">
                    <ul>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Ayuda</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Nuestra Tienda</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Blog</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Formas De Envio</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Sobre BerteDeco</a>
                        </li>
                    </ul>
                </div>
                <div class="second-column align-left col-md-4">
                    <ul>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-facebook-square mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Facebook</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-twitter mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Twitter</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-instagram mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Instagram</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-youtube mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Youtube</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-google-plus mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Google+</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="align-right col-md-4">
                    <h3 class="mbr-section-title mbr-fonts-style display-7">
                        Medios De Pago
                    </h3>
                    <ul class="card-support">
                        <li>
                            <img src="/img/visa.png" height="30" alt="Visa">
                        </li>
                        <li>
                            <img src="/img/master-card.png" height="30" alt="Master Card">
                        </li>
                        <li>
                            <img src="/img/american-express.png" height="30" alt="American Express">
                        </li>
                        <li>
                            <img src="/img/paypal.png" height="30" alt="PayPal">
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- JavaScript: Bootstrap 5 Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>