<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BerteDeco</title>
    <!-- Bootstrap CSS and CSS Style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_register.css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Bootstrap icons Fontawesome icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="img/icon.jpg" />
</head>
<body>
    <!-- Header and Navbar-->
    <section class="ftco-section">
        <div class="container-fluid cuotas-head">
            <div class="div-head row justify-content-center">
                <div class="col-md text-center">
                    <h6 class="heading-section">3 Y 6 CUOTAS SIN INTERES</h6>
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-5">
            <div class="main-header row justify-content-between">
                <div class="col-md-8 order-md-last">
                    <div class="main-header row">
                        <div class="col-md-6 text-center">
                            <a href="/index.html"><img src="/img/icono-bertedeco.png" class="img-fluid" alt="bertedeco" height="400" width="300"></a>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end mb-md-0 mb-3 user-section">
                            <div class="social-media">
                            <p class="mb-0 d-flex">
                                <a href="/register.html" class="user-text-link d-flex align-items-center justify-content-center"><span class="user-text">Registrarse</span></a>
                                <a href="/login.html" class="user-text-link d-flex align-items-center justify-content-center"><span class="user-text">Ingresar</span></a>
                                <a href="#" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-user"><i class="sr-only">Perfil</i></span></a>
                                <a href="/productCart.html" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-shopping-cart"><i class="sr-only">Carro</i></span></a>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-md-flex">
                    <form method="get" action="#" class="searchform order-lg-last">
                <div class="form-group d-flex">
                <input type="search" class="form-control pl-3" placeholder="Buscar">
                <button type="submit" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
            </form>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-ligh ftco-navbar-dark" id="ftco-navbar">
        <div class="container-fluid">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"><a href="/index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#">Bancos</a>
                <a class="dropdown-item" href="#">Jardin</a>
                <a class="dropdown-item" href="#">Espejos</a>
                <a class="dropdown-item" href="#">Mesas y Escritorios</a>
                <a class="dropdown-item" href="#">Percheros y Repisas</a>
                </div>
            </li>
                <li class="nav-item"><a href="#" class="nav-link">Cómo Comprar</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Preuntas Frecuentes</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
            </div>
        </div>
        </nav>
    </section>

    <!-- Formulario-->
    <section class= "formbox">
        
        <div><form >
            <p id="titulo"><strong>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!!</strong></p>
            <label>Nombre</label>
            <p>
            <input type="text" class="form-border" placeholder="ej. María Pérez"/>
            </p>
            <label>E-mail</label>
            <p>       
                <input type="email" class="form-border" placeholder="ej. nombre@correo.com"/>
            </p>
            <label>teléfono (opcional)</label>
            <p>       
                <input type="number" class="numero" placeholder="ej. 1137651432"/>
            </p>

            <label> Contraseña</label>
            <p>
                <input type="password"  class="form-border" placeholder="Ingrese Contraseña"/>
            </p>
            <label> Confirmar contraseña</label>
            <p>
                <input type="password"  class="form-border"/>
            </p>
            <p>
                <button id="submitbutton" type="button">Crear Cuenta</button>
                </p>
                
            <p id="centrado"> Ya tenés cuenta <a href="/login.html" > <strong> Iniciá Sesión</strong> </a> </p>
          </form></div>
    </section>

    <!-- Footer-->
    <section class="cid-qySuWQglmK" id="footer4-2k" data-rv-view="3177">

        <div class="mbr-overlay" style="background-color: rgb(35, 35, 35); opacity: 0.4;"></div>
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="first-column col-md-4 align-left">
                    <ul>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Ayuda</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Nuestra Tienda</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Blog</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Formas De Envio</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Sobre BerteDeco</a>
                        </li>
                    </ul>
                </div>
                <div class="second-column align-left col-md-4">
                    <ul>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-facebook-square mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Facebook</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-twitter mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Twitter</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-instagram mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Instagram</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-youtube mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Youtube</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-google-plus mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Google+</a>
                        </li>
                        
                    </ul>
                
                </div>
                <div class="align-right col-md-4">
                    <h3 class="mbr-section-title mbr-fonts-style display-7">
                        Medios De Pago
                    </h3>
                    <ul class="card-support">
                        <li>
                            <img src="/img/visa.png" height="30" alt="Visa">
                        </li>
                        <li>
                            <img src="/img/master-card.png" height="30" alt="Master Card">
                        </li>
                        <li>
                            <img src="/img/american-express.png" height="30" alt="American Express">
                        </li>
                        <li>
                            <img src="/img/paypal.png" height="30" alt="PayPal">
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- JavaScript: Bootstrap 5 Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>