/* Body, Header y otros generales */

body {
    font-family: "Bahnschrift", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray;
    text-align: left;
  }
  
a {
  text-decoration: none;
  
}

nav {
  background-color: rgb(199,178,153);
  
}

li .nav-link{
  color: white;
}

.nav-link:focus, .nav-link:hover, .user-icons:focus, .user-icons:hover {
  color: #0a1316
}

.navbar .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px;
}

.user-icons {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 5px;
  text-decoration: none;
  color: white;
}

h1{
  color: #212529;
  text-align: center;
  margin-top: 10px;
  
}

h5{
  color: white;
  align-self: center;
  margin-top: 5px;
}

 