/* Body Header, Footer y otros generales */

body {
  font-family: "Bahnschrift", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
  text-align: left;
}

a {
  text-decoration: none;
}

.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}

.btn-wsp:hover{
  background: #20ba5a;
}

@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
  }
} 

header{
  margin-top: 15px;
}

.cuotas-head {
  padding: 0px;
  background-color: rgb(199, 178, 153);
}

.div-head {
  --bs-gutter-x: 0rem!important;
}

.main-header {
  align-items: center;
}

.heading-section {
  background-color: rgb(199, 178, 153);
  color: #fafafa;
  margin-top: 1vh;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*  margin-right: -15px;
  margin-left: -15px; */
}

.navbar-brand {
  display: inline-block;
  color: rgba(0,0,0,.55);
  margin-right: 0px;
  /*  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px; */
}

.navbar-brand:hover {
  color: #58574f;
}

/* .navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
} */

.form-control:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.55)
}

.searchform {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 40px;
}

.searchform .search {
  width: 50px;
  height: 50px;
  background: rgb(199, 178, 153) !important;
}

.searchform .form-control {
  border: none;
}

.searchform .search span {
  font-size: 16px;
  color: #fff;
}

.social-media p .user-icons {
  border: 1px solid rgb(199, 178, 153);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 5px;
  text-decoration: none;
}

.social-media p a span {
  color: #363531;
  margin: 0px 5px;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgb(199, 178, 153);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px;
}

.nav-link {
  font-size: 11px;
  padding: 0.5rem 1rem;
  /* padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  /* color: #fff; */
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}

.dropdown-menu {
  background-color: #fafafa;
  border: 1px solid rgb(199, 178, 153);
}

.dropdown-item {
  color: gray;
}

.cid-qySuWQglmK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(199, 178, 153);
}

.cid-qySuWQglmK .first-column ul, .cid-qySuWQglmK .second-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.display-4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.cid-qySuWQglmK .mbr-iconfont {
  padding: 0 0.5rem;
}

.cid-qySuWQglmK .mbr-section-title, .cid-qySuWQglmK .card-support {
  text-align: left;
  color: #ffffff;
}

.cid-qySuWQglmK .card-support {
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}

.cid-qySuWQglmK .card-support li {
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  display: inline-block;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 20px;
      padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .user-section {
    justify-content: center!important;
  }

  .nav-link {
    border-bottom: 1px solid rgb(199, 178, 153);
  }

  .footer-lists {
    justify-content: space-around!important;
  }

  .first-column, .second-column {
    display: contents;
  }

  .cid-qySuWQglmK .mbr-section-title, .cid-qySuWQglmK .card-support {
    margin-top: 3%;
    text-align: center;
  }
  
}
  
/* Body Header, Footer y otros generales */
  
/* Carousel */

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 8px solid rgb(199, 178, 153);
  }
  
/* Carousel */

/* Products */

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(199, 178, 153);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.label-line {
  border-color: rgb(199, 178, 153);
  color: rgb(199, 178, 153);
  padding: 1px 1px;
  margin-bottom: 1px;
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 12px;
  text-transform: none;
}

h1{
  text-align: center;
  margin-top: 30px;
}
h3{
  text-align: center;
}

h5.fw-bolder{
  color: gray;
}

.py-5 {
  padding-top: 1rem !important;
  padding-bottom: 3rem !important;
}
.features-icons {
  padding-top: 5rem;
  padding-bottom: 1rem;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.text-center {
  text-align: center !important;
}

.card {
  border: 1px solid rgb(199, 178, 153);
}

.card-img-top {
  height: 100%;
  
}

.color.icon{
  color: gray;
}

/* Products */
