<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BerteDeco</title>
    <!-- Bootstrap CSS and CSS Style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_product.css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Bootstrap icons Fontawesome icons-->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fontawesome icons-->
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="img/icon.jpg" />
</head>
<body>
    <!-- Header and Navbar-->
    <section class="ftco-section">
        <div class="container-fluid cuotas-head">
            <div class="div-head row justify-content-center">
                <div class="col-md text-center">
                    <h6 class="heading-section">3 Y 6 CUOTAS SIN INTERES</h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="img-icon col-md-6 text-center mb-5">
                    <img src="/img/icono-bertedeco.png" class="img-fluid" alt="bertedeco" height="600" width="400">
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-5">
            <div class="row justify-content-between">
                <div class="col-md-8 order-md-last">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <a class="navbar-brand" href="/index.html">BerteDeco</a>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end mb-md-0 mb-3 user-section">
                            <div class="social-media">
                            <p class="mb-0 d-flex">
                                <a href="/register.html" class="d-flex align-items-center justify-content-center"><span class="fa fa-user-plus"><i class="sr-only">Register</i></span></a>
                                <a href="/login.html" class="d-flex align-items-center justify-content-center"><span class="fa fa-user"><i class="sr-only">Login</i></span></a>
                                <a href="/productCart.html" class="d-flex align-items-center justify-content-center"><span class="fa fa-shopping-cart"><i class="sr-only">Cart</i></span></a>
                            </p>
                    </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-md-flex">
                    <form method="get" action="#" class="searchform order-lg-last">
                <div class="form-group d-flex">
                <input type="search" class="form-control pl-3" placeholder="Buscar">
                <button type="submit" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
            </form>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-ligh ftco-navbar-dark" id="ftco-navbar">
        <div class="container-fluid">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"><a href="#" class="nav-link">Inicio</a></li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#">Bancos</a>
                <a class="dropdown-item" href="#">Jardin</a>
                <a class="dropdown-item" href="#">Espejos</a>
                <a class="dropdown-item" href="#">Mesas y Escritorios</a>
                <a class="dropdown-item" href="#">Percheros y Repisas</a>
                </div>
            </li>
                <li class="nav-item"><a href="#" class="nav-link">Cómo Comprar</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Preuntas Frecuentes</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
            </div>
        </div>
        </nav>
    </section>
    <!--Main Product-->
    <div class="container">
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="container-product row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <div id="myCarousel-2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#myCarousel-2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#myCarousel-2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#myCarousel-2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <!-- Slide 1 -->
                                <div class="carousel-item active" style="background-image: url('/img/mesa-detalle-1.jpg')">
                                </div>
                                <!-- Slide 2 -->
                                <div class="carousel-item" style="background-image: url('/img/mesa-detalle-2.jpg')">
                                </div>
                                <!-- Slide 3 -->
                                <div class="carousel-item" style="background-image: url('/img/mesa-detalle-3.jpg')">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel-2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel-2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                    <h2 class="name">
                        MESA COMEDOR GRIFFIN
                    </h2>
                    <h3 class="price-container">
                        $229.100
                        <!-- <small>*includes tax</small> -->
                    </h3>
                    <!-- <small>Product by <a href="javascript:void(0);">Adeline</a></small> -->
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star-half text-muted"></i>
                    <span class="votos fa fa-2x">(109) Votos</span>
                    <a href="javascript:void(0);">27 reseñas</a>
                    <hr />
                    <div class="certified">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Tiempo De Entrega<span>7 Días Habiles</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">6 Cuotas Sin Interés De<span>$38.184</span></a>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div class="description description-tabs">
                        <nav id="myTab" class="nav nav-pills flex-column flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#more-information" data-bs-toggle="tab">Descripción</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#specifications" data-bs-toggle="tab">Especificaciones</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#reviews" data-bs-toggle="tab">Reseñas</a>
                        </nav>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade show active" id="more-information">
                                <br />
                                <strong>Combinación de acero con pino recuperado</strong>
                                <p>
                                    Esta mesa es una llamativa pieza central para el entretenimiento.
                                    Las marcas de sierra y el cepillado a mano le dan un aspecto tosco a la parte superior gruesa.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="specifications">
                                <br />
                                    <h6>Fuente Sostenible</h6>
                                    <p>Elejido de materiales reciclados, recuperados, alternativos o 
                                        recolectados de manera responsable que cumplen con altos
                                        estándares sociales y ambientales.
                                    </p>
                                    <br>

                                    <h6>Esta Compra Planta Un Arbol</h6>
                                    <p>Juntos, podemos plantar 3 millones de árboles para 2023 y
                                        restaurar bosques a nivel mundial.
                                    </p>
                                    <br>

                                    <h6>Adaptable</h6>
                                    <p>Los niveladores ajustables brindan estabilidad en superficies irregulares.</p>
                            </div>
                            <div class="tab-pane fade" id="reviews">
                                <br />
                                <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                                    <textarea rows="2" class="form-control" placeholder="Tu reseña"></textarea>
                                    <div class="review margin-top-10">
                                        <button type="submit" class="btn btn-sm btn-outline-dark pull-right">
                                            Publicar
                                        </button>
                                        <a href="javascript:void(0);" class="review-buttons btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
                                        <!-- <a href="javascript:void(0);" class="review-buttons btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Voice"><i class="fa fa-microphone"></i></a> -->
                                        <a href="javascript:void(0);" class="review-buttons btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
                                        <a href="javascript:void(0);" class="review-buttons btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
                                    </div>
                                </form>
    
                                <div class="chat-body no-padding profile-message">
                                    <ul>
                                        <li class="message">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="online" />
                                            <span class="message-text">
                                                <a href="javascript:void(0);" class="username">
                                                    Mario
                                                    <span class="badge">Compra Verificada</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-muted"></i>
                                                    </span>
                                                </a>
                                                <br>
                                                Me llegó en un plazo mínimo y es tal cual se aprecia en la foto, fantástica cálidad.
                                            </span>
                                            <ul class="list-inline font-xs">
                                                <li>
                                                    <a href="javascript:void(0);" class="text-info"><i class="fa fa-thumbs-up"></i> Esto fue util (22)</a>
                                                </li>
                                                <li class="pull-right">
                                                    <small class="text-muted pull-right ultra-light"> Publicado hace un año </small>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <br>
                                        </li>
                                        <li class="message">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar" class="online" />
                                            <span class="message-text">
                                                <a href="javascript:void(0);" class="username">
                                                    Julian
                                                    <span class="badge">Compra verificada</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                        <i class="fa fa-star fa-2x text-primary"></i>
                                                    </span>
                                                </a>
                                                <br>
                                                Excelente Producto, Me Encantó!
                                            </span>
                                            <ul class="list-inline font-xs">
                                                <li>
                                                    <a href="javascript:void(0);" class="text-info"><i class="fa fa-thumbs-up"></i> Esto fue util (18)</a>
                                                </li>
                                                <li class="pull-right">
                                                    <small class="text-muted pull-right ultra-light"> Publicado hace 6 meses </small>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <a href="/productCart.html" class="btn btn-outline-dark btn-lg">Añadir al Carro</a>
                        </div>
                        <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="btn-group pull-right">
                                <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-star"></i>Agregar a Favoritos</button>
                                <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-envelope"></i>Preguntas</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">TE PUEDE INTERESAR</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="img/escalera-2.jpg" alt="perchero escalera" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Perchero escalera</h5>
                                <!-- Product price-->
                                $15.000
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productCart.html">Agregar al Carro</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="img/espejo-2.jpg" alt="espejos redondos" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Espejo Redondo</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star-half"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$28.000</span>
                                $24.000
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productCart.html">Agregar al Carro</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="img/estante-2.jpg" alt="estantes vitrinas" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Estante Vitrina</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star"></div>
                                    <div class="fa fa-star"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$60.000</span>
                                $54.000
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productCart.html">Agregar al Carro</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="img/mesa-grande-2.jpg" alt="mesa de arrime" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Mesa de Arrime</h5>
                                <!-- Product price-->
                                $24.000
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productCart.html">Agregar al Carro</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <section class="cid-qySuWQglmK" id="footer4-2k" data-rv-view="3177">

        <div class="mbr-overlay" style="background-color: rgb(35, 35, 35); opacity: 0.4;"></div>
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="first-column col-md-4 align-left">
                    <ul>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Ayuda</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Nuestra Tienda</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Blog</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Formas De Envio</a>
                        </li>
                        <li class="first-column-item mbr-fonts-style display-4">
                            <a href="#" class="text-white">Sobre BerteDeco</a>
                        </li>
                    </ul>
                </div>
                <div class="second-column align-left col-md-4">
                    <ul>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-facebook-square mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Facebook</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-twitter mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Twitter</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-instagram mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Instagram</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-youtube mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Youtube</a>
                        </li>
                        <li class="second-column-item mbr-fonts-style display-4">
                            <span class="fa fa-google-plus mbr-iconfont" style="color: rgb(255, 255, 255);"></span>
                            <a href="#" class="text-white">Google+</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="align-right col-md-4">
                    <h3 class="mbr-section-title mbr-fonts-style display-7">
                        Medios De Pago
                    </h3>
                    <ul class="card-support">
                        <li>
                            <img src="/img/visa.png" height="30" alt="Visa">
                        </li>
                        <li>
                            <img src="/img/master-card.png" height="30" alt="Master Card">
                        </li>
                        <li>
                            <img src="/img/american-express.png" height="30" alt="American Express">
                        </li>
                        <li>
                            <img src="/img/paypal.png" height="30" alt="PayPal">
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- JavaScript: Bootstrap 5 Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>