
<h1>BerteDeco</h1>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <h5>Administración de productos</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/products/list">Listado de productos</a></li>
                <li class="nav-item"><a class="nav-link" href="/products/list">Iniciar Sesión</a></li>
                <a href="/users/profile" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-user"><i class="sr-only">Perfil</i></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>