<section class="ftco-section">
    <div class="container-fluid cuotas-head">
        <div class="div-head row justify-content-center">
            <div class="col-md text-center">
                <h6 class="heading-section">3 Y 6 CUOTAS SIN INTERES</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid px-md-5">
        <div class="main-header row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="main-header row">
                    <div class="col-md-6 text-center">
                        <a href="/home"><img src="/img/icono-bertedeco.png" class="img-fluid" alt="bertedeco" height="400" width="300"></a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end mb-md-0 mb-3 user-section">
                        <div class="social-media">
                        <p class="mb-0 d-flex">
                            <a href="/users/register" class="user-text-link d-flex align-items-center justify-content-center"><span class="user-text">Registrarse</span></a>
                            <a href="/users/login" class="user-text-link d-flex align-items-center justify-content-center"><span class="user-text">Ingresar</span></a>
                            <a href="/users/profile" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-user"><i class="sr-only">Perfil</i></span></a>
                            <a href="/cart/resume" class="user-icons d-flex align-items-center justify-content-center"><span class="fa fa-shopping-cart"><i class="sr-only">Carro</i></span></a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-md-flex">
                <form method="get" action="#" class="searchform order-lg-last">
                    <div class="form-group d-flex">
                    <input type="search" class="form-control pl-3" placeholder="Buscar">
                    <button type="submit" class="form-control search"><span class="fa fa-search"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-ligh ftco-navbar-dark" id="ftco-navbar">
    <div class="container-fluid">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active"><a href="/home" class="nav-link">Inicio</a></li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/products/">Todos</a>
                <a class="dropdown-item" href="#">Bancos</a>
                <a class="dropdown-item" href="#">Espejos</a>
                <a class="dropdown-item" href="#">Accesorios</a>
                <a class="dropdown-item" href="#">Mesas y Escritorios</a>
                <a class="dropdown-item" href="#">Percheros y Repisas</a>
            </div>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Cómo Comprar</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Preuntas Frecuentes</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
        </ul>
        </div>
    </div>
    </nav>
</section>
